{% include 'base.html.twig' %}
<link rel="stylesheet" href="../assets/css/all-games.css" />



{% block body %}


<h1> TOUS LES JEUX </h1>
    <h2> Voici tous nos jeux présents et à venir ! Faites votre choix ! </h2>
    <div class=tous-les-jeux>
        <div class= button>
          <a class = "butn memory" href="/memory_game"/> Memory </a>
          <a class = "butn demineur" href="/memory_game"/> Demineur </a>
          <a class = "butn calcul" href="/memory_game"/> Calcul </a>
          <a class = "butn dictee" href="#"/> Dictee </a>
          <a class = "butn sudoku" href="/#"/> Sudoku </a>
          <a class = "butn mot" href="#"/> Mots croisés </a>
        </div>
    <div class = "soon">
      <p class = "test"> Coming Soon <p>
      <p class = "test"> Coming Soon <p>
      <p class = "test"> Coming Soon <p>
    </div>


{% endblock %}
