{% include 'base.html.twig' %}
<link rel="stylesheet" href="../assets/css/MemoryStyle.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>{% block title %} Memory {% endblock %}</title>


{% block body %}

	<div class="body_memory">
		<div class="div_titre">
			<h1 id="memory_titre"> Jouer au Memory </h1>
		</div>
		<div class="div_jeu_memory">

			<div class="div_regles">
				<h2 >Règles du jeu</h2>
				<ul>
					<li>Retourne 2 cartes </li>
					<li> Il faut que les 2 cartes soit similaires !</li>
					<li> Tu gagnes si toutes les cartes sont retournées</li>
					<li>Bonne chance ! </li>
				</ul>
			</div>
            
    
        <div class="game">
            <div class="controls">
                <div class="stats">
                    <div class="moves">0 mouvement</div>
                    <div class="timer">temps: 0 sec</div>
                </div>
            </div>
            <div class="board-container">
                <div class="board" data-dimension="4"></div>
                <div class="win">Félicitation, tu as gagné!</div>
            </div>
        </div>
		
		<script src="{{ asset('/assets/js/MemoryGame.js') }}"></script>
		<button onclick="topFunction()" id="bouton-scroll-top" title="Top"><i class="fa fa-angle-double-up"></i></button>
    	<script src="{{ asset('/assets/js/buttonTop.js') }}"></script>

{% endblock %}
