body {
  background-image: url("../images/fond_home_gris.jpg");
  background-size: cover;
  font-family: "Courier New", Courier, monospace;
}

.div-produits {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 30px;
}

.bloc-produit {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
  background-color: silver;
  border-radius: 10px;
  padding: 10px;
}

.bloc-produit h5 {
  font-weight: bolder;
}

.product-subtitle {
  font-weight: 500;
}

.product-price {
  font-style: italic;
  font-size: 18px;
  font-weight: bolder;
}

h3 {
  color: black;
  text-align: center;
  font-weight: bolder;
}

.div-filtre {
  margin: auto;
  margin-bottom: 20px;
  width: 50%;
  text-align: center;
}

#string {
  width: 60%;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

#categories label {
  margin-left: 10px;
  margin-right: 10px;
}

#submit {
  width: 20%;
  height: 40px;
  margin-top: 20px;
  background-color: #fa8836;
  color: white;
  border: none;
  background: rgba(250, 136, 54, 1);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  transition: all 300ms ease;
}

#submit:hover {
  color: rgba(255, 255, 255, 1);
  background: rgba(250, 136, 54, 0.5);
  cursor: pointer;
}

.img-produit {
  -webkit-transform: scale(1.5);
  transform: scale(1.5); /* you can change the value also */
  -webkit-transform-origin: center;
  transform-origin: center;
}
