body{
    background-image: 
    url("../images/fond_home_gris.jpg");
    }
    
    h1{
      font-family: "Courier New", Courier, monospace;
      font-size: calc(0.5em + 8vmin);
      font-weight: 700;
      color: #fa8836;
      background-image: 
      url("../images/fond_home_gris.jpg");
      text-align: center;
      --x-offset: -0.0625em;
      --y-offset: 0.0625em;
      --stroke: 0.025em;
      --background-color: white;
      --stroke-color: #e3b947;
      text-shadow: var(--x-offset) var(--y-offset) 0px var(--background-color),
        calc(var(--x-offset) - var(--stroke)) calc(var(--y-offset) + var(--stroke))
          0px var(--stroke-color);
    }
    
    h2{
      text-align : center;
       color: #fa8836;
    }
    
    .button{
      text-decoration : none;
      display : flex;
      align-items : center;
      justify-content : center;
    }
    
    .butn {
      overflow : hidden;
      padding : 20px 100px;
      position : relative;
      font-size : 1.25rem;
      margin : 20px;
      border-radius : 30px;
      box-shadow : 0 0 0 0 #F3A722, 0 0 0 0 #F5DFB8;
      transition : transform 0.3 ease, box-shadow 0.3 ease;
      color : black;
    }
    
    .butn::after{
      content : "";
      width : 400px;
      height : 400px;
      position : absolute;
      top : -50px;
      left : -100px;
      background-color : white;
      background-image : linear-gradient(225deg, #E2E0DC 0%, #EEA81E 50%, #EEA81E 100%);
      z-index : -1;
      transition : transform 0.5 ease;  
    }
    
    .butn:hover {
      transform: translate(0, -6px);
      box-shadow : 10px -10px 25px 0 #EEA81E, -10px 10px 25px 0 #868685;  
    }
    
      
    .dic{
      position : absolute;
      color : #EEA81E;
      left : 55%;
    }
    
    .soon{
      position : absolute;
      left : 50%;
      display : flex;
    }
    
    .test{
      padding : 0px 90px;
      font-size : 125%;
      color : #EEA81E;
    }