body {
  background-image: url("../images/fond_home_gris.jpg");
  background-size: cover;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: calc(0.5em + 8vmin);
  font-weight: 700;
  color: #fa8836;
  text-align: center;
  --x-offset: -0.0625em;
  --y-offset: 0.0625em;
  --stroke: 0.025em;
  --background-color: white;
  --stroke-color: #e3b947;
  text-shadow: var(--x-offset) var(--y-offset) 0px var(--background-color),
    calc(var(--x-offset) - var(--stroke)) calc(var(--y-offset) + var(--stroke))
      0px var(--stroke-color);
}

#presentation-jeux {
  text-align: center;
  color: black;
  margin-bottom: 30px;
}

#a-venir {
  color: #fa8836;
}

.button {
  margin: auto;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  gap: 50px;
  width: 60%;
}

.butn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid;
  border-radius: 10px;
  border-color: whitesmoke;
  width: 200px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  color: #ffba59;
  box-shadow: 40px 10px rgba(250, 136, 54, 0.5);
  background-color: white;
}

#titres-jeux {
  color: #ffba59;
  font-weight: bolder;
}

#en-cours {
  color: black;
}

.butn:hover {
  color: whitesmoke;
  background: #fa8836;
  border-color: #ffba59;
}

.soon {
  margin: auto;
}

.test {
  padding: 0px 90px;
  font-size: 125%;
  color: #eea81e;
}
