.container { 
  border-radius:25px;
  background-color : #EADFC7;
  height : 450px;
  color : #EEA912;
}

h2 {
  padding-top : 10px;
  text-align : center;
  color : black;
}

#score{
  font-size : 1.2em;
}

.que{
  position : absolute;
  left : 10%;
}

.sco {
  position : absolute;
  right : 10%;
}

.exp{
  text-align : center;
}

.niv{
  position : absolute;
  left : 48%;
}

#levelsetup{
  background : ;
}

#score {
}

.select{
  text-align : center;
  padding-top : 50px;
  color : black;
}

.Symbole{
  background : #DBD9D4;
  margin-left : 760px;
  margin-top : 30px;
  border : solid black 2px;
  border-radius : 25px;
  height : 90px;
  width : 110px;
}

.symb{
  text-align : center;
}

.button{
   text-align : center;
}

.level{
  background : #DBD9D4;
  margin-left : 1000px;
  margin-top : -93px;
  border : solid black 2px;
  border-radius : 25px;
  height : 90px;
  width : 110px;
}

.niveau {
  text-align : center;
}

.button2{
  text-align : center;
}