{% include 'base.html.twig' %}

<title>{% block title %}Panier{% endblock %}</title>
{% block content %}
    <h2> Je passe ma commande</h2>
    <p>Choisissez vos préférences avant de passer votre commande</p>
    <hr>
    <div class = "col-md-6">
    <b>Récap de ma commande</b><br>
    
    <b>Bouton pour payer </b>
{% endblock %}
